.createAdmin-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.createAdmin-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    border-radius: 5px;
    box-sizing: 5px;
    width: 360px;
    height:fit-content;
}
.createAdmin-content h3{
    margin: 30px 0px 10px;
}
.createAdmin-content p{
    font-size: 12px;
    color: var(--BlackGray);
}
.createAdmin-description{
    margin-bottom: 20px;
}
.createAdmin-inputBox{
   margin: 10px 0px;
}
.createAdmin-input{
    background-color: var(--Gray);
    width: 280px;
    padding: 10px 0px 10px 5px;
    
    border-radius: 5px;
    border: 1px solid var(--DarkGray);
    font-size: 12px;
}
.createAdminLabel{
    padding-bottom: 5px;
}
.createAdmin-submit button{
    display: inline-block;
    font-size: 12px;
    padding: 8px;
    width: 180px;
    border-radius: 5px;
    background-color: var(--Blue);
    color: var(--White);
    text-align: center;
    margin: 30px 0px;
    border: 1px solid gray;
}
.createAdmin-submit button:active{
    background-color: var(--LightBlue);
}