/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  --Blue: #4880ff;
  --LightBlue: #6094ef;
  --White: #ffffff;
  --Black: #202224;
  --Gray: #f5f6fa;
  --MiddleGray: #f9f9fb;
  --DarkGray: #d8d8d8;
  --BlackGray: #979797;
  --Red: #ef3826;
}
body {
  font-family: 'Mulish', sans-serif;
}
